body{
    margin: 0;
    padding: 0;
    background: #504D65;
}
#btn{
    width: 200px;
    height: 80px;
    background: #146502;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 2px solid grey;
    border-radius: 6px;
    position: absolute;
    box-shadow: 0 0 5px;
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
    box-sizing: border-box;
    letter-spacing: 3px;
    text-transform: uppercase;
        transition: all 0.5s;
}
#btn:hover{
   content: '';
    width: 300px;
    box-shadow: 0 0 20px white;
    
}
